*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

::selection{
    color: white;
    background-color: black;
}

#root{
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: inherit;
}

#container{
    margin: 40px 80px;
    display: flex;
    height: calc(100% - 80px);
}




/* ---------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------*/

/* sidebar */

#weather-summary{
    flex: 1.15;
    position: relative;
    padding: 20px;
    background-color: rgba(245, 245, 245, 0.8);
    border-radius: 20px 0 0 20px;
}

form{
    position: relative;
}

form input{
    outline: none;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 82%;
    padding: 9px;
    font-size: 14px;
    color: rgb(70, 70, 70);
}

form button{
    background-color: rgb(2, 164, 228);
    width: 16%;
    height: 38.5px;
    position: relative;
    top: 14px;
    left: -5px;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#current-weather-icon{
    text-align: center;
}

#current-weather-icon img{
    width: 200px;
    margin: 30px 0;
}

#temp-day-time div{
    display: flex;
}

#temp-day-time h1{
    font-size: 80px;
    font-weight: 400;
}

#temp-day-time sup{
    font-size: 40px;
    font-weight: 400;
    position: relative;
    top: 13px;
    left: -4px;
}

#temp-day-time p{
    font-size: 18px;
}

hr{
    border: 1px solid white;
    margin: 20px 0;
}

#more-weather-data{
    padding: 20px 40px;
}

#more-weather-data p{
    margin: 10px 0;
    font-size: 15px;
}

#weather-summary-precipitation{
    font-size: 15px;
}

#location{
    position: absolute;
    bottom: 20px;
}






/* ---------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------*/

/* weather - today, week, info */

#weather-details{
    flex: 4;
    background-color: rgba(245, 245, 245, .95);
    border-radius: 0 20px 20px 0;
    padding: 5px 40px 25px 40px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header span{
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.header-s{
    display: flex;
}

.header-s div:first-child span{
    color: rgb(2, 164, 228);
    margin-right: 10px;
}

.header-s div:last-child span{
    color: rgb(55, 69, 75);
    margin-left: 10px;
}

.header-e button{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: none;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.header-e button:first-child{
    margin-right: 8px;
    background-color: black;
    color: white;
}






/* ---------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------*/

/* today and week data */

.week{
    display: none;
}

.hourly-weekly-data{
    padding: 15px 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 18px;
}

.one-hour-day{
    text-align: center;
    background-color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0;
    border-radius: 20px;
}

.one-hour-day > p{
    padding: 2px;
    font-size: 17px;
}

.one-hour-day img{
    width: 70px;
    height: 80px;
    padding: 10px 0;
}

.one-hour-day sup{
    font-size: 11px;
    font-weight: 500;
    position: relative;
    top: 2px;
}

.temp-data{
    display: flex;
    justify-content: center;
}






/* ---------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------*/

/* today's highlights */

.today-highlights{
    margin-top: 50px;
    margin-right: 50px;
}

.today-highlights h2{
    margin-bottom: 80px;
    font-size: 26px;
    font-weight: 600;
}

.th-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.grid-item{
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
}

.grid-item p:first-child{
    color: gray;
    font-size: 17px;
    font-weight: 500;
}

.grid-item p:nth-child(2){
    padding: 25px 0;
    font-size: 36px;
    text-align: center;
}

.grid-item p:last-child{
    font-size: 15px;
}




/* ---------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------*/

/* created by */

.created-by{
    text-align: center;
    margin-top: 60px;
}

.created-by h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.created-by span{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    text-decoration: underline;
    color: rgb(60, 1, 114);
    font-family: sans-serif;
}






/* ---------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------*/

/* loader */

#loader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: azure;
    z-index: 999;
}

/* #loader div{
    width: 190px;
    height: 160px;
    position: relative;
    top: 35%;
    left: 45%;
    background-size: cover;
    z-index: 1000;
    animation: animate 2s linear;
}

@keyframes animate {
    0%{
        background-image: url('https://i.ibb.co/PZQXH8V/27.png');
    }
    50%{
        background-image: url('https://i.ibb.co/kBd2NTS/39.png');
    }
    100%{
        background-image: url('https://i.ibb.co/1nxNGHL/10.png');
    }
} */







/* ---------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------*/

/* responsive */

@media only screen and (max-width: 576px){
    #container{
        margin: 10px;
        flex-direction: column;
    }
    #weather-summary{
        padding: 10px 5px;
        border-radius: 20px 20px 0 0;
    }
    #current-weather-icon img{
        width: 150px;
    }
    #temp-day-time h1{
        font-size: 60px;
        padding-left: 5px;
    }
    #temp-day-time sup{
        font-size: 30px;
        top: 10px;
        left: 1px;
    }
    #temp-day-time p{
        padding-left: 8px;
        font-size: 13px;
    }
    #more-weather-data{
        padding: 15px 30px;
        margin-bottom: 50px;
    }
    #more-weather-data p{
        margin: -5px 0;
        font-size: 14px;
    }
    #location{
        margin-left: 10px;
        bottom: 10px;
    }

    /* /////////// */
    /* /////////// */
    /* /////////// */

    #weather-details{
        margin-top: 2px;
        border-radius: 0 0 20px 20px;
        padding: 10px;
        background-color: rgba(245, 245, 245, 0.8)
    }
    .header{
        padding: 5px;
    }
    .header span{
        font-size: 15px;
    }
    .header-e button{
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    /* /////////////// */

    .hourly-weekly-data{
        padding: 15px 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .one-hour-day{
        font-size: 14px;
        font-weight: 500;
        padding: 8px 0;
        border-radius: 18px;
    }
    .one-hour-day > p{
        font-size: 14px;
    }

    /* ///////////////// */

    .today-highlights{
        margin-top: 40px;
    }
    .today-highlights h2{
        margin-bottom: 25px;
        font-size: 23px;
        font-weight: 500;
    }
    .th-grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-item{
        margin: 0 20px;
    }
    .grid-item p:nth-child(2){
        padding: 20px 0;
        font-size: 28px;
    }
    .created-by span{
        display: block;
    }
}

@media only screen and (min-width: 577px) and (max-width: 769px){
    #container{
        margin: 10px;
    }
    #weather-summary{
        padding: 20px 10px;
        flex: 2.8;
    }
    #temp-day-time h1{
        font-size: 55px;
    }
    #temp-day-time sup{
        font-size: 27px;
        top: 10px;
        left: 1px;
    }
    
    #weather-details{
        padding: 0 10px;
        padding-bottom: 20px;
    }
    .hourly-weekly-data{
        padding: 15px 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .today-highlights h2{
        margin-bottom: 25px;
        font-size: 23px;
        font-weight: 500;
    }
    .th-grid{
        grid-template-columns: repeat(1, 1fr);
        margin: 0 20px;
    }
    .created-by span{
        display: block;
    }
}

@media only screen and (min-width: 770px) and (max-width: 1220px){
    #container{
        margin: 10px;
    }
    #weather-summary{
        padding: 20px 10px;
        flex: 1.8;
    }
    #temp-day-time h1{
        font-size: 55px;
    }
    #temp-day-time sup{
        font-size: 27px;
        top: 10px;
        left: 1px;
    }
    #weather-details{
        padding: 0 10px;
        padding-bottom: 20px;
    }
    .hourly-weekly-data{
        padding: 15px 10px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
    .th-grid{
        grid-template-columns: repeat(2, 1fr);
        margin: 0 10px;
    }
}
