*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

::selection{
    color: white;
    background-color: black;
}

#root{
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: inherit;
}

#container{
    margin: 40px 80px;
    display: flex;
    height: calc(100% - 80px);
}




/* ---------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------*/

/* sidebar */

#weather-summary{
    flex: 1.2;
    position: relative;
    padding: 20px;
    background-color: rgba(245, 245, 245, 0.8);
    border-radius: 20px 0 0 20px;
}

form{
    text-align: center;
}

form input{
    outline: none;
    border: none;
    border-radius: 3px;
    width: calc(100% - 52px);
    height: 24px;
    padding: 16px 6px;
    font-size: 14px;
}

form button{
    background-color: rgb(2, 164, 228);
    width: 32px;
    height: 32px;
    border: none;
    position: relative;
    top: 11px;
    left: -8px;
    border-radius: 0 3px 3px 0;
}

#current-weather-icon{
    text-align: center;
}

#current-weather-icon img{
    width: 180px;
    height: 180px;
    margin: 30px 0;
}

#temp-day-time div{
    display: flex;
}

#temp-day-time h1{
    font-size: 80px;
    font-weight: 400;
}

#temp-day-time sup{
    font-size: 40px;
    font-weight: 400;
    position: relative;
    top: 13px;
    left: -5px;
}

#temp-day-time p{
    font-size: 18px;
}

hr{
    border: 1px solid white;
    margin: 20px 0;
}

#more-weather-data{
    padding: 20px 40px;
}

#more-weather-data p{
    margin: 10px 0;
    font-size: 15px;
}

#weather-summary-precipitation{
    font-size: 15px;
}

#location{
    position: absolute;
    bottom: 20px;
}






/* ---------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------*/

/* weather - today, week, info */

#weather-details{
    flex: 4;
    background-color: rgba(245, 245, 245, .95);
    border-radius: 0 20px 20px 0;
    padding: 5px 40px 25px 40px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header span{
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.header-s{
    display: flex;
}

.header-s div:first-child span{
    color: rgb(2, 164, 228);
    margin-right: 10px;
}

.header-s div:last-child span{
    color: rgb(55, 69, 75);
    margin-left: 10px;
}

.header-e{
    display: flex;
}

.header-e div{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.header-e div:first-child{
    margin-right: 10px;
    background-color: black;
    color: white;
}

.header-e div:last-child{
    margin-left: 10px;
}






/* ---------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------*/

/* today data */

.hourly-data{
    padding: 10px 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 16px;
}

.one-hour{
    text-align: center;
    background-color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0;
    border-radius: 20px;
}

.one-hour img{
    width: 70px;
    padding: 10px 0;
}

.one-hour sup{
    font-size: 12px;
    font-weight: 500;
    position: relative;
    top: 3px;
}






/* ---------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------*/

/* week data */

.week{
    display: none;
}

.weekly-data{
    padding: 10px 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 15px;
}

.day{
    text-align: center;
    background-color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0;
    border-radius: 20px;
}

.day img{
    width: 70px;
    padding: 10px 0;
}

.day sup{
    font-size: 12px;
    font-weight: 500;
    position: relative;
    top: 3px;
}






/* ---------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------*/

/* today's highlights */

.today-highlights{
    margin-top: 50px;
}

.today-highlights h2{
    margin-bottom: 80px;
    font-size: 26px;
    font-weight: 600;
}

.th-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.grid-item{
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
}

.grid-item p:first-child{
    color: gray;
    font-size: 18px;
    font-weight: 500;
}

.grid-item p:nth-child(2){
    padding: 30px 0;
    font-size: 40px;
    text-align: center;
}

.grid-item p:last-child{
    font-size: 15px;
}




/* ---------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------*/

/* created by */

.created-by{
    text-align: center;
    margin-top: 60px;
}

.created-by h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.created-by span{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    text-decoration: underline;
    color: rgb(60, 1, 114);
    font-family: sans-serif;
}